<h3 class="subheader">New Texture</h3>
<hr />
<%= form_for @texture do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create Texture", class: 'small green nice button radius' %>
  <%= link_to "Cancel", textures_path, class: 'small red button radius' %>
<% end %>