<style>
 .large-2 {text-align: right;}
</style>
<h3 class="subheader">Your account <small><%= link_to "(edit)", edit_user_registration_path %></small></h3>
<hr />

<div class='row'>
  <div class='large-2 columns'><b>Email:</b></div>
  <div class='large-10 columns'><%= current_user.email %></div>   
</div>

<div class='row'>
  <div class='large-2 columns'><b>Name:</b></div>
  <div class='large-10 columns'><%= current_user.name %></div>   
</div>