<br />
<br />
<br />
<br />
<br />
<h3 class="subheader centered">Welcome to the Johnsonite Product Manager</h3>
<hr />
<p class="centered hide-for-small" style="font-size: 26px;">
  Use the navigation on the left to get started, or if you're new you can <a href='javascript:void(0)' id='joyride-start' style="color: #69F">take a tour</a>.
  <br /><%= image_tag "get_started.png", style: 'width:64px; height: 68px;float: left;top: -47px;position: relative;', class: 'hide-for-small' %>
</p>

<p class="centered show-for-small" style="font-size: 26px;">
  Use the navigation at the top to get started.  
</p>

<ol class="joyride-list" data-joyride>
  <li data-id="" data-text="I want a tour!">
    <p>Hello and welcome to Johnsonite Product Manager.</p>
  </li>
  <li data-id="no1" data-class="custom so-awesome" data-text="Next" data-options="tipLocation:top;tipAnimation:fade">
    <h4>Products</h4>
    <p>Here you can create and manage individual products using this link. This is where you'll spend most of your time.</p>
  </li>
  <li data-id="no2" data-button="Next" data-options="tipLocation:right;tipAnimation:fade">
    <h4>Product Attributes</h4>
    <p>Various product attributes can be managed by using the rest of the links in this section.</p>
  </li>
  <li data-id="no3" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
    <h4>Wallbase</h4>
    <p>The Wallbase filter tool can now be mangaged using these links!</p>
  </li>
  <li data-id="no4" data-button="Next" data-options="tipLocation:right;tipAnimation:fade">
    <h4>Colors</h4>
    <p>We know there are a lot of colors and designs. You're able to manage all the complicated stuff here!</p>
  </li>
  <li data-button="Start Having Fun">
    <h4 id="joy-over" class="centered">All Done!</h4>
    <p class="centered">That's the tour! Have fun! :)</p>
  </li>
</ol>

<script type="text/javascript">
  $('#joyride-start').bind('click', function() {    
    $(document).foundation('joyride', 'start', 
      {  template : { // HTML segments for tip layout
            link    : '<a href="#close" class="joyride-close-tip">&times;</a>',
            timer   : '<div class="joyride-timer-indicator-wrap"><span class="joyride-timer-indicator"></span></div>',
            tip     : '<div class="joyride-tip-guide"><span class="joyride-nub"></span></div>',
            wrapper : '<div class="joyride-content-wrapper"></div>',
            button  : '<a href="#" class="small radius button full-width joyride-next-tip"></a>'
          }
        }
      );
  });
</script>