<h3 class="subheader">New Product Family</h3>
<hr />
<%= form_for @product_family do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create Product Family", class: 'small green nice button radius' %>
  <%= link_to "Cancel", product_families_path, class: 'small red nice button radius' %>
<% end %>