<h3 class="subheader">New Product Family</h3>
<hr />
<%= form_for @product_family do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create", class: 'nice button radius' %>
<% end %>