<h3 class="subheader">Edit Product Thickness</h3>
<hr />
<%= form_for @product_thickness do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Update", class: 'small blue button radius' %>
  <%= link_to "Cancel", product_thicknesses_path, class: 'small red nice button radius' %>
<% end %>