<h3 class="subheader">New Product Thickness</h3>
<hr />
<%= form_for @product_thickness do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create", class: 'nice button radius' %>
<% end %>