<h3 class="subheader">New Color Family</h3>
<hr />
<%= form_for @color_family do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create Color Family", class: 'small blue button radius' %>
  <%= link_to "Cancel", color_families_path, class: 'small red nice button radius' %>
<% end %>