<h3 class="subheader">New Color Family</h3>
<hr />
<%= form_for @color_family do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create", class: 'nice button radius' %>
<% end %>