<h3 class="subheader">Patterns</h3>

<hr />

<%= link_to_icon 'plus-sign icon-white', 'New Pattern', new_pattern_path, class: 'small green button nice radius' %>

<table>
  <thead>
    <tr>
      <th>Name</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @patterns.all.each do |pc| %>
    <tr>
      <td><%= pc.name %></td><td><%= link_to_icon 'edit icon-white', 'Edit', edit_pattern_path(pc), class: 'small blue button radius' %> <%= link_to_icon 'trash icon-white', 'Delete', pattern_path(pc), method: :delete, data: {confirm: '1'}, class: 'small red button nice radius' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
