<h3 class="subheader">New Pattern</h3>
<hr />
<%= form_for @pattern do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create Pattern", class: 'small green nice button radius' %>
  <%= link_to "Cancel", patterns_path, class: 'small red button radius' %>
<% end %>