<h1>New Product Category</h1>
<hr />
<%= form_for @product_category do |f| %>
  <%= f.error_messages %>
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create", class: 'nice button radius' %>
<% end %>