<h3 class="subheader">Edit Product Warranty</h3>
<hr />
<%= form_for @product_warranty do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Update", class: 'small blue nice button radius' %>
  <%= link_to "Cancel", product_warranties_path, class: 'small red nice button radius' %>
<% end %>