<h3 class="subheader">New Product Warranty</h3>
<hr />
<%= form_for @product_warranty do |f| %>
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <%= f.submit "Create Product Warranty", class: 'small green nice button radius' %>
  <%= link_to "Cancel", product_warranties_path, class: 'small red nice button radius' %>
<% end %>